fillion_trudel_intention_projet_58266BMO.mp4
banniere_temporalis.ai
logo-temporalis.ai
preproduction/medias/.DS_Store
preproduction/.DS_Store
animateur.aep
AE 2022-02-22 15-20-34.txt
AE 2022-02-22 15-22-36.txt
AE 2022-02-22 15-28-14.txt
AE 2022-02-22 15-29-42.txt
animateur enregistrement automatique 1.aep
animateur enregistrement automatique 2.aep
animateur enregistrement automatique 3.aep
animateur enregistrement automatique 4.aep
FIN_PERDU.mp4
FIN_GAGNANT.mp4
conclusion-mauvaise.mp4